In [9]:
#Right now we could maybe widdle down to movies above a certain rating + number of ratings

In [1]:
import pandas as pd
import csv
import time
import numpy as np
import itertools

In [3]:
df_ratings = pd.read_csv('data/ratings.tsv',sep = '\t')
titles = pd.read_csv('data/titles.tsv',sep='\t')
names = pd.read_csv('data/names.tsv',sep = '\t')
movies = titles[titles['titleType']=='movie']
movies = list(movies['tconst'].unique())

In [4]:
print(len(movies))

573966

In [11]:
print(names[names['primaryName']=='Sean Bean'])

             nconst primaryName birthYear deathYear  \
292       nm0000293   Sean Bean      1959        \N
2777559  nm11881915   Sean Bean        \N        \N
3122961  nm12232472   Sean Bean        \N        \N

                           primaryProfession  \
292      actor,producer,animation_department
2777559                             producer
3122961                      cinematographer

                                  knownForTitles
292      tt1181791,tt0120737,tt0167261,tt0944947
2777559                                tt2107721
3122961                                tt0852584

In [5]:
##get a list of movies based on a rating threshold and year threshold
def filterMovies(ratingThreshold,yearThreshold,dfratings,dftitles):
    avgVotes = np.mean(df_ratings['numVotes'])
    qualifiedMovies = []
    len(df_ratings)
    boolean_series = dfratings.tconst.isin(movies)
    dfratings = dfratings[boolean_series]
    for row in dfratings.iterrows():
        if row[1]['averageRating'] >= ratingThreshold and row[1]['numVotes'] >= avgVotes:
            qualifiedMovies.append(row[1]['tconst'])
    qualifiedMoviesFinal = []
    for movie in qualifiedMovies:
        year = (list(dftitles[dftitles['tconst']==movie]['startYear'])[0])
        if type(year) == str:
            year = int(year)
        if year >= yearThreshold:
            qualifiedMoviesFinal.append(movie)
    return qualifiedMoviesFinal

In [6]:
print(len(qualifiedMovies))

NameError: name 'qualifiedMovies' is not defined

In [7]:
qualifiedMovies = filterMovies(7.5,2000,df_ratings,titles)
print(len(qualifiedMovies))

2468

In [8]:
#find the frequent actors in the list of movies that meets the support threshold
def findFreqActors(qMovies,supportThreshold):
    count = 0
    freqActors = dict()
    for chunk in pd.read_csv('data/principals.tsv' ,sep='\t', chunksize = 1000000, usecols = ['tconst','category','nconst']):
        chunk = chunk[chunk['category']=='actor']
        chunk = chunk.groupby('tconst')
        for name, group in chunk:
            if name not in qMovies:
                continue
            else:
                actors = group['nconst'].unique()
                for actor in actors:
                    if actor in freqActors:
                        freqActors[actor][0] += 1
                        if name in qMovies:
                            freqActors[actor][1].append(name)
                    else:
                        freqActors[actor] = [1,[name]]
    freqActorsFinal = dict()
    for actor in freqActors:
        if freqActors[actor][0] >= supportThreshold:
            freqActorsFinal[actor] = freqActors[actor]
    return freqActors

In [9]:
freqActors = findFreqActors(qualifiedMovies,2)

In [10]:
print(len(freqActors))

3423

In [24]:
print(freqActors['nm0004051'])
print(freqActors['nm0000293'])

[2, ['tt0326306', 'tt0372183']]
[2, ['tt0120737', 'tt5198068']]

In [39]:
def findPairs():
    freq_pairs = dict()
    for chunk in pd.read_csv('data/principals.tsv' ,sep='\t', chunksize = 1000000, usecols = ['tconst','category','nconst']):
        chunk = chunk[chunk['category']=='actor']
        chunk = chunk.groupby('tconst')
        for name, group in chunk:
            #print(name)
            if name not in qualifiedMovies:
                continue
            else:
                freqActorsGroup = [actor for actor in group['nconst'] if actor in freqActors]
                freqPairsGroup = list(itertools.combinations(freqActorsGroup,2))
                for pair in freqPairsGroup:
                    if pair in freq_pairs:
                        freq_pairs[pair][0] += 1
                        freq_pairs[pair][1].append(name)
                    else:
                        freq_pairs[pair] = [1,[name]]
        freq_pairs = dict(sorted(freq_pairs.items(), key=lambda item: item[1],reverse=True))
        freq_pairsFinal = dict()
        for pair in freq_pairs:
            if (pair[1],pair[0]) not in freq_pairsFinal:
                freq_pairsFinal[pair] = freq_pairs[pair]
    return freq_pairsFinal

In [ ]:
for actor in freqActors:
    for actor2 in freqActors:
        if actor == actor2 or (actor2,actor) in freqPairs:
            continue:
        else:
            movies_together = []
            for movie in freqActors[actor][1]:
                if movie in freqActors[actor2][1]:
                    movies_together.append(movie)
            for movie in freqActors[actor2][1]:
                if movie in freqActors[actor][1] and movie not in movies_together:
                    movies_together.append(movie)
            freqPairs[(actor,actor2)] = [len(movies_together),movies_together]

In [40]:
freq_pairs = findPairs()

In [41]:
print(len(freq_pairs))
freqpairsfinal = dict()
for pair in freq_pairs:
    if (freq_pairs[pair][0] >= 2):
        freqpairsfinal[pair] = freq_pairs[pair]
    #print(getName(pair[0]),getName(pair[1]))

4827

In [42]:
print(len(freqpairsfinal))

93

In [43]:
def getName(nconst):
    return list(names[names['nconst']==nconst]['primaryName'])[0] 
def getSoloMovies(name1,name2,pairsDict,soloDict):
    name1solomovies = []
    name2solomovies = []
    for movie in soloDict[name1][1]:
        if movie not in pairsDict[(name1,name2)][1]:
            name1solomovies.append(movie)
    for movie in soloDict[name2][1]:
        if movie not in pairsDict[(name1,name2)][1]:
            name2solomovies.append(movie)
    for movie in name1solomovies:
        if movie in name2solomovies:
            pairsDict[(name1,name2)][1].append(movie)
            name1solomovies.remove(movie)
            name2solomovies.remove(movie)
    return name1solomovies,name2solomovies
def getRatings(movies):
    ratings = []
    if len(movies) == 0:
        return 0
    for movie in movies:
        if len(list(df_ratings[df_ratings['tconst']== movie]['averageRating']))>0:
            ratings.append(list(df_ratings[df_ratings['tconst']== movie]['averageRating'])[0])
    rating = np.mean(ratings)
    return rating

In [44]:
for pair in freqpairsfinal:
    movies1, movies2 = getSoloMovies(pair[0],pair[1],freqpairsfinal,freqActors)
    ratings1 = getRatings(movies1)
    ratings2 = getRatings(movies2)
    ratings_together = getRatings(freqpairsfinal[pair][1])
    betteralone1 = True
    betteralone2 = True
    bt1 = False
    bt2 = False
    bettertogether = False
    if ratings_together >= ratings1:
        betteralone1 = False
        bt1 = True
    if ratings_together >= ratings2:
        betteralone2 = False
        bt2 = True
    if bt1 or bt2:
        bettertogether = True
    if bettertogether and ratings1 != 0 and ratings2 != 0:
        print(movies1)
        print(movies2)
        print(freqpairsfinal[pair][1])
        print("For the duo " + getName(pair[0]) + " , " + getName(pair[1]) + "Their rating of " + str(ratings_together) + "was betteer than both of their solo ratings: " + str(ratings1) + ", " + str(ratings2))

['tt1183907', 'tt2375559', 'tt4727512']
['tt0312859', 'tt0339252', 'tt0376127', 'tt0422320', 'tt0423470', 'tt0455663', 'tt0455829', 'tt0843326', 'tt1034053', 'tt1526875', 'tt5039054', 'tt7758160', 'tt9477520']
['tt0366840', 'tt0471571', 'tt0816258', 'tt1582519', 'tt2198161', 'tt6980546']
For the duo Mahesh Babu , Prakash RajTheir rating of 7.816666666666667was betteer than both of their solo ratings: 7.8, 7.976923076923077
['tt3006576']
['tt2358592', 'tt7109900']
['tt3394420', 'tt4909506', 'tt6054758', 'tt7998242']
For the duo Rakshit Shetty , Achyuth KumarTheir rating of 8.325000000000001was betteer than both of their solo ratings: 8.0, 8.15
['tt3646946', 'tt5526028', 'tt6335734', 'tt6728390']
['tt2210479', 'tt2358913']
['tt3138698', 'tt5084196', 'tt5084198']
For the duo Hiroshi Kamiya , Takahiro SakuraiTheir rating of 7.766666666666667was betteer than both of their solo ratings: 7.75, 7.75
['tt0371746', 'tt0373469', 'tt0443706', 'tt0988045', 'tt1515091']
['tt1843866', 'tt4481414', 'tt8946378']
['tt0848228', 'tt4154756', 'tt4154796', 'tt3498820']
For the duo Robert Downey Jr. , Chris EvansTheir rating of 8.149999999999999was betteer than both of their solo ratings: 7.640000000000001, 7.733333333333334
['tt0371746', 'tt0373469', 'tt0848228', 'tt0988045', 'tt1515091', 'tt3498820']
['tt0314412', 'tt0369339', 'tt1130884', 'tt1895587', 'tt3501632', 'tt9071322']
['tt0443706', 'tt4154756', 'tt4154796']
For the duo Robert Downey Jr. , Mark RuffaloTheir rating of 8.166666666666666was betteer than both of their solo ratings: 7.716666666666666, 7.8
['tt0144084', 'tt0361862', 'tt0381849', 'tt0964517', 'tt1345836', 'tt1410063', 'tt1596363', 'tt1950186']
['tt0206634', 'tt0327137', 'tt2802144']
['tt0372784', 'tt0468569', 'tt0482571']
For the duo Christian Bale , Michael CaineTheir rating of 8.566666666666666was betteer than both of their solo ratings: 7.8375, 7.7
['tt0385002']
['tt0486655', 'tt0903624', 'tt1170358', 'tt1877832']
['tt0120737', 'tt0167260', 'tt0167261']
For the duo Elijah Wood , Ian McKellenTheir rating of 8.8was betteer than both of their solo ratings: 7.5, 7.775
['tt0385002']
['tt0325980']
['tt0120737', 'tt0167260', 'tt0167261']
For the duo Elijah Wood , Orlando BloomTheir rating of 8.8was betteer than both of their solo ratings: 7.5, 8.0
['tt0486655', 'tt0903624', 'tt1170358', 'tt1877832']
['tt0325980']
['tt0120737', 'tt0167260', 'tt0167261']
For the duo Ian McKellen , Orlando BloomTheir rating of 8.8was betteer than both of their solo ratings: 7.775, 8.0
['tt1832382']
['tt7901798']
['tt5460658', 'tt9817070']
For the duo Payman Maadi , Navid MohammadzadehTheir rating of 8.05was betteer than both of their solo ratings: 8.3, 7.6
['tt0986329', 'tt8602654']
['tt2358592', 'tt3394420', 'tt6054758', 'tt7998242']
['tt4909506', 'tt7109900']
For the duo Anant Nag , Achyuth KumarTheir rating of 8.35was betteer than both of their solo ratings: 8.45, 8.225000000000001
['tt8721556']
['tt5458088']
['tt4186118', 'tt7231194']
For the duo Chemban Vinod Jose , VinayakanTheir rating of 8.0was betteer than both of their solo ratings: 7.5, 8.1
['tt0371746', 'tt0373469', 'tt0443706', 'tt0848228', 'tt0988045', 'tt1515091', 'tt3498820']
['tt1979320', 'tt3501632']
['tt4154756', 'tt4154796']
For the duo Robert Downey Jr. , Chris HemsworthTheir rating of 8.4was betteer than both of their solo ratings: 7.714285714285714, 8.0
['tt0242572', 'tt0270321', 'tt0425162', 'tt0483131', 'tt0887769', 'tt0973783', 'tt1573478', 'tt1695800', 'tt3996396', 'tt7581552', 'tt7738784']
['tt3506970']
['tt3885736', 'tt4928620']
For the duo Mammootty , Joy MathewTheir rating of 8.15was betteer than both of their solo ratings: 8.045454545454547, 7.7
['tt1979320']
['tt0314412', 'tt0369339', 'tt0443706', 'tt1130884', 'tt1895587', 'tt9071322']
['tt3501632', 'tt4154756', 'tt4154796']
For the duo Chris Hemsworth , Mark RuffaloTheir rating of 8.233333333333334was betteer than both of their solo ratings: 8.1, 7.766666666666667
['tt12677092', 'tt13206926', 'tt2786278', 'tt3668162', 'tt4186118', 'tt4851630', 'tt5906392', 'tt6315524', 'tt7019942', 'tt8188872', 'tt8286926']
['tt10717738', 'tt11230868', 'tt5376232']
['tt3198468', 'tt8413338']
For the duo Fahadh Faasil , Sreenath BhasiTheir rating of 8.1was betteer than both of their solo ratings: 7.99090909090909, 7.733333333333333
['tt1979319']
['tt0266308', 'tt0758742']
['tt3029556', 'tt3029558']
For the duo Takeru Satoh , Tatsuya FujiwaraTheir rating of 7.6was betteer than both of their solo ratings: 7.5, 7.65
['tt0843328']
['tt1613040', 'tt3848892', 'tt6299040']
['tt2631186', 'tt4849438']
For the duo Prabhas , Rana DaggubatiTheir rating of 8.1was betteer than both of their solo ratings: 7.6, 7.866666666666667
['tt3029558']
['tt0872022']
['tt1979319', 'tt3029556']
For the duo Takeru Satoh , Munetaka AokiTheir rating of 7.55was betteer than both of their solo ratings: 7.6, 7.5
['tt0466460', 'tt1324059', 'tt4169250', 'tt5461944']
['tt0362696', 'tt2140465', 'tt5713232', 'tt7180544']
['tt1280558', 'tt2377938']
For the duo Anupam Kher , Jimmy SheirgillTheir rating of 8.05was betteer than both of their solo ratings: 7.824999999999999, 7.699999999999999
['tt0405159', 'tt2386490']
['tt0377752', 'tt0416449']
['tt0892769', 'tt1646971']
For the duo Jay Baruchel , Gerard ButlerTheir rating of 7.949999999999999was betteer than both of their solo ratings: 7.8, 7.65
['tt1034053', 'tt11322920', 'tt2078644', 'tt2624704', 'tt2717168', 'tt2924472', 'tt3124456', 'tt4888834', 'tt7523010']
['tt1922545', 'tt9900782']
['tt0867145', 'tt2476214']
For the duo Prithviraj Sukumaran , NarainTheir rating of 8.05was betteer than both of their solo ratings: 7.833333333333333, 8.25
['tt0339252']
['tt1582519']
['tt0858492', 'tt1579592']
For the duo Ravi Teja , BrahmanandamTheir rating of 7.75was betteer than both of their solo ratings: 7.7, 7.6
['tt0366840', 'tt0471571', 'tt1183907', 'tt1582519', 'tt2198161', 'tt4727512', 'tt6980546']
['tt0258490', 'tt0367495', 'tt0888503', 'tt10324144', 'tt1857670', 'tt3569782', 'tt3996396', 'tt4987556', 'tt5310090', 'tt6076366', 'tt6747242']
['tt0816258', 'tt2375559']
For the duo Mahesh Babu , NassarTheir rating of 8.0was betteer than both of their solo ratings: 7.757142857142858, 8.08181818181818
['tt0296574', 'tt0319736', 'tt0373856', 'tt0405266', 'tt4430212']
['tt0292490', 'tt0299108', 'tt0347304', 'tt0352314']
['tt0488414', 'tt8108274']
For the duo Ajay Devgn , Saif Ali KhanTheir rating of 7.85was betteer than both of their solo ratings: 7.94, 7.775
['tt0374887']
['tt0466460', 'tt2621000', 'tt6826438']
['tt0456144', 'tt2338151']
For the duo Sanjay Dutt , Boman IraniTheir rating of 8.1was betteer than both of their solo ratings: 8.1, 7.8
['tt0375571', 'tt0405508', 'tt2624704', 'tt3569782', 'tt4047104']
['tt0312859', 'tt0339252', 'tt0366840', 'tt0376127', 'tt0422320', 'tt0423470', 'tt0455829', 'tt0471571', 'tt0816258', 'tt1034053', 'tt1526875', 'tt1582519', 'tt2198161', 'tt5039054', 'tt6980546', 'tt7758160', 'tt9477520']
['tt0455663', 'tt0843326']
For the duo Siddharth , Prakash RajTheir rating of 7.949999999999999was betteer than both of their solo ratings: 7.959999999999999, 7.923529411764705
['tt0459516', 'tt11581174', 'tt1821317', 'tt2072167', 'tt2355791', 'tt2359810', 'tt3822396', 'tt6734886', 'tt9477520']
['tt0375878', 'tt0455829']
['tt0375880', 'tt5959980']
For the duo Dhanush , Daniel BalajiTheir rating of 8.2was betteer than both of their solo ratings: 8.022222222222222, 7.95
['tt2338151']
['tt0477857', 'tt2621000']
['tt0374887', 'tt0456144']
For the duo Sanjay Dutt , Arshad WarsiTheir rating of 8.1was betteer than both of their solo ratings: 8.1, 7.6
['tt0242256', 'tt0299108', 'tt0312859', 'tt0357905', 'tt0375571', 'tt0499375', 'tt10189514', 'tt1187043', 'tt1266583', 'tt2140465', 'tt6148156', 'tt9319874']
['tt0258490', 'tt0816258', 'tt0888503', 'tt10324144', 'tt1857670', 'tt2375559', 'tt3569782', 'tt3996396', 'tt4987556', 'tt6076366', 'tt6747242']
['tt0367495', 'tt5310090']
For the duo Madhavan , NassarTheir rating of 8.149999999999999was betteer than both of their solo ratings: 7.983333333333333, 8.054545454545455
['tt0411469', 'tt0432047', 'tt1261047', 'tt1266583', 'tt3337550', 'tt3390572', 'tt6299040']
['tt0352314']
['tt0356982', 'tt0400234']

For the duo Kay Kay Menon , Aditya SrivastavTheir rating of 8.1was betteer than both of their solo ratings: 7.8, 7.5
['tt0418455', 'tt0457655', 'tt10288566', 'tt1276419', 'tt2106476']
['tt0386342']
['tt0236027', 'tt11655202', 'tt0315543']
For the duo Mads Mikkelsen , Nikolaj Lie KaasTheir rating of 7.7was betteer than both of their solo ratings: 7.82, 7.5
['tt0386342']
['tt0315543', 'tt0457655', 'tt10288566', 'tt11655202', 'tt1276419', 'tt2106476']
['tt0236027', 'tt0418455']
For the duo Ulrich Thomsen , Mads MikkelsenTheir rating of 7.75was betteer than both of their solo ratings: 7.5, 7.783333333333334
['tt0120737', 'tt0385002']
['tt0765443', 'tt3553976', 'tt6966692']
['tt0167260', 'tt0167261']
For the duo Elijah Wood , Viggo MortensenTheir rating of 8.8was betteer than both of their solo ratings: 8.15, 7.8999999999999995
['tt0765443', 'tt3553976', 'tt6966692']
['tt0120737', 'tt0325980']
['tt0167260', 'tt0167261']
For the duo Viggo Mortensen , Orlando BloomTheir rating of 8.8was betteer than both of their solo ratings: 7.8999999999999995, 8.4

In [47]:
titles[titles['tconst']=='tt0108108']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
105755,tt0108108,tvEpisode,Sharpe's Rifles,Sharpe's Rifles,0,1993,\N,102,Adventure

C:\Users\Matt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)