In [9]:
#Right now we could maybe widdle down to movies above a certain rating + number of ratings

In [2]:
import pandas as pd
import csv
import time
import numpy as np
import itertools
df_ratings = pd.read_csv('data/ratings.tsv',sep = '\t')
titles = pd.read_csv('data/titles.tsv',sep='\t')

      tconst  averageRating  numVotes
0  tt0000001            5.6      1696
1  tt0000002            6.0       210
2  tt0000003            6.5      1448
3  tt0000004            6.1       122
4  tt0000005            6.1      2245

In [6]:
movies = titles[titles['titleType']=='movie']
movies = list(movies['tconst'].unique())
print(len(movies))

573966

In [7]:

#read in the ratings data
print(np.mean(df_ratings['numVotes']))
print(np.mean(df_ratings['averageRating']))
avgVotes = np.mean(df_ratings['numVotes'])
df_ratings.head()
qualifiedMovies = []
len(df_ratings)
boolean_series = df_ratings.tconst.isin(movies)
df_ratings = df_ratings[boolean_series]
for row in df_ratings.iterrows():
    if row[1]['averageRating'] >= 8.5 and row[1]['numVotes'] >= avgVotes:
        qualifiedMovies.append(row[1]['tconst'])

955.1516708090234
6.900688579030731

In [27]:
qualifiedMoviesFinal = []
for movie in qualifiedMovies:
    year = (list(titles[titles['tconst']==movie]['startYear'])[0])
    if type(year) == str:
        year = int(year)
    if year>= 2000:
        qualifiedMoviesFinal.append(movie)
print(qualifiedMoviesFinal)

['tt0120737', 'tt0167260', 'tt0167261', 'tt0172495', 'tt0245429', 'tt0253474', 'tt0270321', 'tt0271383', 'tt0311594', 'tt0314067', 'tt0317248', 'tt0319836', 'tt0339535', 'tt0346336', 'tt0358456', 'tt0367495', 'tt0375093', 'tt0383846', 'tt0400234', 'tt0407887', 'tt0416960', 'tt0419781', 'tt0459516', 'tt0468569', 'tt0480732', 'tt0482571', 'tt0770802', 'tt0816692', 'tt0829269', 'tt0892425', 'tt0965382', 'tt1014762', 'tt10189514', 'tt10370116', 'tt10469118', 'tt10687070', 'tt10702760', 'tt10765852', 'tt1094594', 'tt11191124', 'tt1152758', 'tt11581174', 'tt1165293', 'tt11989890', 'tt12361178', 'tt12865416', 'tt13177004', 'tt13243898', 'tt13458600', 'tt1375666', 'tt1424432', 'tt1496729', 'tt1601792', 'tt1621830', 'tt1675434', 'tt1754109', 'tt1795369', 'tt2077886', 'tt2083271', 'tt2170667', 'tt2185022', 'tt2412748', 'tt2414166', 'tt2415372', 'tt2473476', 'tt2582802', 'tt2592910', 'tt3313066', 'tt3327994', 'tt3557258', 'tt3590482', 'tt3674140', 'tt3917908', 'tt3970482', 'tt4476736', 'tt4519488', 'tt4640206', 'tt4658770', 'tt4733046', 'tt4846952', 'tt4899880', 'tt4909506', 'tt4943992', 'tt4991384', 'tt5069074', 'tt5190958', 'tt5275892', 'tt5311546', 'tt5354160', 'tt5510934', 'tt5691226', 'tt5773402', 'tt5813916', 'tt5867800', 'tt5959980', 'tt5963218', 'tt6019206', 'tt6023118', 'tt6058226', 'tt6346162', 'tt6456318', 'tt6463320', 'tt6481232', 'tt6679360', 'tt6751668', 'tt6842524', 'tt7019842', 'tt7060344', 'tt7391996', 'tt7465992', 'tt7738784', 'tt7794052', 'tt8076222', 'tt8176054', 'tt8413338', 'tt8503618', 'tt8569206', 'tt8602654', 'tt8614536', 'tt8747560', 'tt8948790', 'tt9151704', 'tt9231140', 'tt9477520', 'tt9617456', 'tt9708358']

In [28]:
print(len(qualifiedMovies),len(qualifiedMoviesFinal))

272 126

In [50]:

#[lambda x: x['tconst'] in qualifiedMovies]

In [30]:
count = 0
freqActors = dict()
for chunk in pd.read_csv('data/principals.tsv' ,sep='\t', chunksize = 1000000, usecols = ['tconst','category','nconst']):
    chunk = chunk[chunk['category']=='actor']
    chunk = chunk.groupby('tconst')
    for name, group in chunk:
        if name not in qualifiedMovies:
            continue
        else:
            actors = group['nconst'].unique()
            for actor in actors:
                if actor in freqActors:
                    freqActors[actor][0] += 1
                    freqActors[actor][1].append(name)
                else:
                    freqActors[actor] = [1,[name]]

In [49]:
freqActorsFinal = dict()
for actor in freqActors:
    if freqActors[actor][0] >= 2:
        freqActorsFinal[actor] = freqActors[actor]

In [55]:
freq_pairs = dict()
for chunk in pd.read_csv('data/principals.tsv' ,sep='\t', chunksize = 1000000, usecols = ['tconst','category','nconst']):
    chunk = chunk[chunk['category']=='actor']
    chunk = chunk.groupby('tconst')
    for name, group in chunk:
        freqActorsGroup = [actor for actor in group['nconst'] if actor in freqActorsFinal]
        freqPairsGroup = list(itertools.combinations(freqActorsGroup,2))
        for pair in freqPairsGroup:
            if pair in freq_pairs:
                freq_pairs[pair][0] += 1
                freq_pairs[pair][1].append(name)
            else:
                freq_pairs[pair] = [1,[name]]

In [58]:
print(freq_pairs)

{('nm0017988', 'nm0904303'): [1, ['tt0053785']], ('nm0660233', 'nm0705880'): [3, ['tt0057544', 'tt0121253', 'tt0123391']], ('nm0135908', 'nm0660233'): [3, ['tt0061168', 'tt0123390', 'tt0123391']], ('nm0154170', 'nm0315917'): [3, ['tt0063023', 'tt0080856', 'tt0094069']], ('nm0135908', 'nm0705880'): [5, ['tt0063168', 'tt0123390', 'tt0123391', 'tt0123392', 'tt0123829']], ('nm0631877', 'nm0073353'): [5, ['tt0071028', 'tt0074039', 'tt0075094', 'tt0076276', 'tt1199764']], ('nm0000199', 'nm0000134'): [3, ['tt0071562', 'tt0113277', 'tt0809488']], ('nm0904303', 'nm0631877'): [17, ['tt0074039', 'tt0075094', 'tt0076276', 'tt0920154', 'tt0920155', 'tt0920156', 'tt0931047', 'tt0936314', 'tt0936315', 'tt0943088', 'tt0943089', 'tt0943090', 'tt0943091', 'tt0943092', 'tt0943093', 'tt0943094', 'tt1360141']], ('nm0904303', 'nm0073353'): [4, ['tt0074039', 'tt0075094', 'tt0076276', 'tt1360141']], ('nm0904303', 'nm0831262'): [1, ['tt0076276']], ('nm0631877', 'nm0831262'): [15, ['tt0076276', 'tt0084115', 'tt0180841', 'tt0180924', 'tt0181096', 'tt0435814', 'tt10911764', 'tt10911780', 'tt10913722', 'tt12217160', 'tt12258026', 'tt12258072', 'tt12324062', 'tt5324564', 'tt8763678']], ('nm0831262', 'nm0073353'): [3, ['tt0076276', 'tt0101690', 'tt0172007']], ('nm0000434', 'nm0000148'): [4, ['tt0076759', 'tt0080684', 'tt0086190', 'tt8924990']], ('nm0714287', 'nm0135908'): [1, ['tt0077283']], ('nm0631877', 'nm0226699'): [3, ['tt0079606', 'tt0320957', 'tt0420341']], ('nm0154170', 'nm0154164'): [1, ['tt0080856']], ('nm0315917', 'nm0154164'): [3, ['tt0080856', 'tt0085726', 'tt0216175']], ('nm0226699', 'nm0831262'): [1, ['tt0084302']], ('nm0226699', 'nm0904303'): [4, ['tt0084302', 'tt0181624', 'tt14137520', 'tt14140518']], ('nm0226699', 'nm0017988'): [1, ['tt0084302']], ('nm0831262', 'nm0904303'): [2, ['tt0084302', 'tt10911764']], ('nm0831262', 'nm0017988'): [6, ['tt0084302', 'tt0088338', 'tt6456276', 'tt6463488', 'tt6463490', 'tt6463492']], ('nm0904303', 'nm0017988'): [2, ['tt0084302', 'tt0179685']], ('nm0631877', 'nm0865392'): [10, ['tt0085215', 'tt0327701', 'tt1081744', 'tt1081745', 'tt1083785', 'tt1233279', 'tt4006080', 'tt4323100', 'tt5969780', 'tt5969790']], ('nm0073353', 'nm0904303'): [1, ['tt0085772']], ('nm0831262', 'nm0865392'): [5, ['tt0086935', 'tt0200841', 'tt0201883', 'tt0279797', 'tt0279886']], ('nm0865392', 'nm0226699'): [4, ['tt0087823', 'tt0181624', 'tt14137520', 'tt14140518']], ('nm0482320', 'nm0820208'): [23, ['tt0088907', 'tt0214704', 'tt0237178', 'tt0237309', 'tt0254942', 'tt0254968', 'tt0255359', 'tt0255373', 'tt0255396', 'tt0255422', 'tt0255447', 'tt0255643', 'tt0255676', 'tt0273098', 'tt0275207', 'tt0282778', 'tt0289893', 'tt0292174', 'tt0292220', 'tt0292319', 'tt0363741', 'tt0430710', 'tt0867235']], ('nm0073353', 'nm0226699'): [8, ['tt0089361', 'tt0169145', 'tt0172007', 'tt0361242', 'tt1501596', 'tt1503510', 'tt1503511', 'tt1504613']], ('nm0631877', 'nm0904303'): [5, ['tt0090374', 'tt0123107', 'tt0200389', 'tt10911764', 'tt1143550']], ('nm0893449', 'nm0820208'): [8, ['tt0091695', 'tt0155915', 'tt0214863', 'tt0234632', 'tt0237309', 'tt0255643', 'tt0333390', 'tt0867404']], ('nm0893449', 'nm0858128'): [9, ['tt0091695', 'tt0100354', 'tt0246927', 'tt0248675', 'tt0252056', 'tt0271478', 'tt0271737', 'tt0353280', 'tt1102314']], ('nm0820208', 'nm0858128'): [5, ['tt0091695', 'tt0244242', 'tt0282778', 'tt0353975', 'tt0377643']], ('nm0007123', 'nm0039596'): [3, ['tt0092557', 'tt0248675', 'tt0269672']], ('nm0154164', 'nm0154170'): [2, ['tt0094069', 'tt0216175']], ('nm0154164', 'nm0315917'): [17, ['tt0094069', 'tt0215549', 'tt0232168', 'tt0236976', 'tt0237202', 'tt0237694', 'tt0318114', 'tt1523508', 'tt1523562', 'tt1542936', 'tt1542950', 'tt1587227', 'tt1591038', 'tt3021846', 'tt6884282', 'tt6929886', 'tt7347624']], ('nm0007123', 'nm0858128'): [17, ['tt0097851', 'tt0235891', 'tt0237820', 'tt0244702', 'tt0246599', 'tt0246831', 'tt0246927', 'tt0248675', 'tt0252056', 'tt0271478', 'tt0271485', 'tt0271524', 'tt0271570', 'tt0271593', 'tt0271619', 'tt0271737', 'tt0271821']], ('nm0707425', 'nm0007123'): [1, ['tt0101649']], ('nm0352032', 'nm0621937'): [7, ['tt0105575', 'tt0139872', 'tt0285665', 'tt0317796', 'tt0367495', 'tt0439714', 'tt3681422']], ('nm0000134', 'nm0000138'): [2, ['tt0108330', 'tt4016250']], ('nm0000151', 'nm0000228'): [3, ['tt0114069', 'tt0114369', 'tt0389957']], ('nm0000151', 'nm0000093'): [2, ['tt0114369', 'tt14067406']], ('nm0000093', 'nm0000228'): [1, ['tt0114369']], ('nm0831262', 'nm0631877'): [2, ['tt0114812', 'tt0320957']], ('nm0000197', 'nm0000323'): [1, ['tt0115710']], ('nm0000138', 'nm0000134'): [2, ['tt0116999', 'tt5537002']], ('nm0000134', 'nm0000093'): [2, ['tt0117665', 'tt4016250']], ('nm0000148', 'nm0000093'): [1, ['tt0118972']], ('nm0482320', 'nm0695177'): [3, ['tt0119385', 'tt0355914', 'tt6707906']], ('nm0001570', 'nm0000411'): [1, ['tt0120586']], ('nm0000704', 'nm0000151'): [1, ['tt0120647']], ('nm0000704', 'nm0005212'): [5, ['tt0120737', 'tt0167260', 'tt0167261', 'tt0347436', 'tt0387360']], ('nm0000704', 'nm0089217'): [4, ['tt0120737', 'tt0167260', 'tt0167261', 'tt0347436']], ('nm0005212', 'nm0089217'): [4, ['tt0120737', 'tt0167260', 'tt0167261', 'tt0347436']], ('nm0000158', 'nm0000354'): [1, ['tt0120815']], ('nm0226699', 'nm0631877'): [1, ['tt0122234']], ('nm0135908', 'nm0130025'): [3, ['tt0123390', 'tt0123391', 'tt0123392']], ('nm0705880', 'nm0660233'): [3, ['tt0123390', 'tt0165629', 'tt0166183']], ('nm0705880', 'nm0130025'): [3, ['tt0123390', 'tt0123392', 'tt0166183']], ('nm0660233', 'nm0130025'): [3, ['tt0123390', 'tt0123391', 'tt0166183']], ('nm0130025', 'nm0705880'): [1, ['tt0123391']], ('nm0000354', 'nm0001570'): [1, ['tt0128442']], ('nm0705880', 'nm0714287'): [1, ['tt0130245']], ('nm0482320', 'nm0329730'): [19, ['tt0133826', 'tt0214915', 'tt0274043', 'tt0274114', 'tt0278314', 'tt0282889', 'tt0291728', 'tt0291768', 'tt0291871', 'tt0292023', 'tt0292092', 'tt0292143', 'tt0292323', 'tt0292378', 'tt0353167', 'tt1138482', 'tt1414369', 'tt1634554', 'tt1877589']], ('nm0000093', 'nm0001570'): [1, ['tt0137523']], ('nm0352032', 'nm0304261'): [3, ['tt0139872', 'tt0155319', 'tt1445071']], ('nm0304261', 'nm0621937'): [2, ['tt0139872', 'tt8976818']], ('nm0352032', 'nm1111221'): [2, ['tt0140348', 'tt0187318']], ('nm0352032', 'nm0707425'): [12, ['tt0140448', 'tt0154120', 'tt0154145', 'tt0154159', 'tt0154898', 'tt0186794', 'tt0275035', 'tt0275205', 'tt0277748', 'tt0324977', 'tt0402738', 'tt1411976']], ('nm0707425', 'nm0352032'): [5, ['tt0154154', 'tt0154181', 'tt0155077', 'tt0155257', 'tt0155265']], ('nm0611481', 'nm0621937'): [1, ['tt0154673']], ('nm0304261', 'nm0352032'): [6, ['tt0154923', 'tt0156666', 'tt0214785', 'tt0215916', 'tt0371783', 'tt1463196']], ('nm0039596', 'nm0409204'): [9, ['tt0155616', 'tt0214799', 'tt0234632', 'tt0243994', 'tt0271556', 'tt0275328', 'tt0353200', 'tt0354074', 'tt1754332']], ('nm0007123', 'nm0893449'): [25, ['tt0155765', 'tt0155801', 'tt0155934', 'tt0155967', 'tt0215529', 'tt0237892', 'tt0246674', 'tt0246833', 'tt0246927', 'tt0248675', 'tt0252056', 'tt0267834', 'tt0268886', 'tt0268901', 'tt0269672', 'tt0269816', 'tt0271478', 'tt0271480', 'tt0271737', 'tt0271749', 'tt0357009', 'tt0867403', 'tt0867404', 'tt0881930', 'tt7005164']], ('nm0007123', 'nm0409204'): [13, ['tt0155801', 'tt0237009', 'tt0246426', 'tt0246674', 'tt0269699', 'tt0271596', 'tt0271771', 'tt0271801', 'tt0430735', 'tt0448805', 'tt0808500', 'tt1031256', 'tt9354674']], ('nm0893449', 'nm0409204'): [10, ['tt0155801', 'tt0234632', 'tt0235813', 'tt0237093', 'tt0243984', 'tt0244117', 'tt0289893', 'tt0291855', 'tt0353284', 'tt0353594']], ('nm0409204', 'nm0893449'): [13, ['tt0155915', 'tt0246674', 'tt0277799', 'tt0278426', 'tt0282987', 'tt0283496', 'tt0352185', 'tt0352968', 'tt0353619', 'tt0358295', 'tt0377643', 'tt0490172', 'tt4295578']], ('nm0409204', 'nm0820208'): [5, ['tt0155915', 'tt0234632', 'tt0274201', 'tt0278768', 'tt0358295']], ('nm0611481', 'nm0893449'): [9, ['tt0155931', 'tt0255113', 'tt0277774', 'tt0352185', 'tt0353237', 'tt0356087', 'tt0881930', 'tt0985660', 'tt5541812']], ('nm0039596', 'nm0007123'): [4, ['tt0155967', 'tt0246809', 'tt0271768', 'tt0271773']], ('nm0039596', 'nm0893449'): [3, ['tt0155967', 'tt0248675', 'tt0353152']], ('nm0004417', 'nm0707399'): [1, ['tt0156074']], ('nm0705880', 'nm0135908'): [1, ['tt0164816']], ('nm0000704', 'nm0001557'): [3, ['tt0167260', 'tt0167261', 'tt0347436']], ('nm0001557', 'nm0005212'): [2, ['tt0167260', 'tt0347436']], ('nm0001557', 'nm0089217'): [3, ['tt0167260', 'tt0167261', 'tt0347436']], ('nm0005212', 'nm0001557'): [2, ['tt0167261', 'tt11343494']], ('nm0831262', 'nm0226699'): [3, ['tt0172007', 'tt0320957', 'tt0323722']], ('nm0001618', 'nm0000323'): [1, ['tt0180073']], ('nm0865392', 'nm0073353'): [12, ['tt0180485', 'tt0383905', 'tt0942407', 'tt0942408', 'tt0942409', 'tt0942410', 'tt0942411', 'tt0944991', 'tt0944992', 'tt0944993', 'tt0944994', 'tt0944995']], ('nm0865392', 'nm0904303'): [3, ['tt0181624', 'tt14137520', 'tt14140518']], ('nm0017988', 'nm0865392'): [15, ['tt0191682', 'tt0560747', 'tt0766266', 'tt0889718', 'tt0905452', 'tt0905453', 'tt0905454', 'tt0905455', 'tt0919372', 'tt0919373', 'tt0919374', 'tt1130737', 'tt1258094', 'tt3449998', 'tt3450030']], ('nm0865392', 'nm0631877'): [3, ['tt0192885', 'tt1081743', 'tt12617018']], ('nm0482320', 'nm0893449'): [40, ['tt0214585', 'tt0214629', 'tt0215529', 'tt0237038', 'tt0237138', 'tt0237178', 'tt0237309', 'tt0240653', 'tt0246674', 'tt0255396', 'tt0255494', 'tt0255641', 'tt0255643', 'tt0271594', 'tt0274043', 'tt0277774', 'tt0277799', 'tt0279986', 'tt0282827', 'tt0289893', 'tt0291855', 'tt0291888', 'tt0291912', 'tt0292041', 'tt0292046', 'tt0292114', 'tt0292115', 'tt0292145', 'tt0292160', 'tt0292163', 'tt0292244', 'tt0292305', 'tt0292314', 'tt0353167', 'tt0357236', 'tt0364243', 'tt0377445', 'tt0483180', 'tt0490172', 'tt4983400']], ('nm0482320', 'nm1111221'): [2, ['tt0214585', 'tt4983400']], ('nm0893449', 'nm1111221'): [2, ['tt0214585', 'tt4983400']], ('nm0893449', 'nm0007123'): [5, ['tt0214658', 'tt0215104', 'tt0244117', 'tt0269675', 'tt0271647']], ('nm0858128', 'nm0893449'): [9, ['tt0214671', 'tt0269672', 'tt0282827', 'tt0292115', 'tt0352151', 'tt0352673', 'tt0355523', 'tt0356087', 'tt0377643']], ('nm0611481', 'nm0820208'): [7, ['tt0214914', 'tt0255178', 'tt0353154', 'tt0353712', 'tt0354024', 'tt0355788', 'tt0482910']], ('nm0820208', 'nm0007123'): [2, ['tt0214944', 'tt0271692']], ('nm0858128', 'nm0482320'): [3, ['tt0214996', 'tt0255306', 'tt0271724']], ('nm0482320', 'nm0858128'): [20, ['tt0215028', 'tt0237094', 'tt0237376', 'tt0249047', 'tt0255378', 'tt0271524', 'tt0273870', 'tt0282778', 'tt0282827', 'tt0291703', 'tt0292115', 'tt0292142', 'tt0292167', 'tt0292187', 'tt0292220', 'tt0292246', 'tt0292267', 'tt0292309', 'tt1399081', 'tt1598547']], ('nm0007123', 'nm0329730'): [10, ['tt0215031', 'tt0230597', 'tt0237542', 'tt0271638', 'tt0271675', 'tt0271694', 'tt0271801', 'tt0292095', 'tt1138482', 'tt1956657']], ('nm0329730', 'nm0007123'): [4, ['tt0215067', 'tt0271459', 'tt0271663', 'tt0271772']], ('nm0482320', 'nm0007123'): [32, ['tt0215307', 'tt0215529', 'tt0215606', 'tt0215753', 'tt0215825', 'tt0234329', 'tt0240891', 'tt0246412', 'tt0246432', 'tt0246674', 'tt0246802', 'tt0247907', 'tt0247916', 'tt0248934', 'tt0267364', 'tt0267469', 'tt0267575', 'tt0268882', 'tt0268943', 'tt0269462', 'tt0269661', 'tt0269699', 'tt0270044', 'tt0271356', 'tt0271386', 'tt0271524', 'tt0271557', 'tt0271591', 'tt0271699', 'tt0271724', 'tt1138482', 'tt13993652']], ('nm0007123', 'nm0482320'): [8, ['tt0215844', 'tt0267806', 'tt0267827', 'tt0267904', 'tt0268019', 'tt0268954', 'tt0271585', 'tt0887769']], ('nm0315917', 'nm0154170'): [3, ['tt0216175', 'tt0457920', 'tt1538371']], ('nm0000134', 'nm0001570'): [1, ['tt0227445']], ('nm0893449', 'nm0039596'): [3, ['tt0234632', 'tt0269672', 'tt0451153']], ('nm0039596', 'nm0820208'): [1, ['tt0234632']], ('nm0820208', 'nm0329730'): [2, ['tt0235158', 'tt0282843']], ('nm0611481', 'nm0409204'): [12, ['tt0235653', 'tt0248673', 'tt0258558', 'tt0278391', 'tt0352678', 'tt0353180', 'tt0353477', 'tt0353699', 'tt0353935', 'tt0355743', 'tt1217634', 'tt3685728']], ('nm1388202', 'nm0409204'): [6, ['tt0235662', 'tt0324390', 'tt0353235', 'tt0353412', 'tt0353739', 'tt9354674']], ('nm0409204', 'nm0858128'): [3, ['tt0235683', 'tt0352733', 'tt0353905']], ('nm0820208', 'nm0893449'): [9, ['tt0237178', 'tt0255396', 'tt0275774', 'tt0282779', 'tt0289893', 'tt0358295', 'tt0377643', 'tt4699988', 'tt4887722']], ('nm0893449', 'nm0611481'): [11, ['tt0237479', 'tt0237892', 'tt0244232', 'tt0254978', 'tt0255641', 'tt0274599', 'tt0277559', 'tt0352618', 'tt1102249', 'tt1959468', 'tt2866778']], ('nm0858128', 'nm0409204'): [4, ['tt0237634', 'tt0353769', 'tt0353978', 'tt0377643']], ('nm0007123', 'nm0611481'): [21, ['tt0237820', 'tt0237892', 'tt0251972', 'tt0271358', 'tt0271385', 'tt0271460', 'tt0271485', 'tt0271545', 'tt0271570', 'tt0271575', 'tt0271602', 'tt0271603', 'tt0271663', 'tt0271730', 'tt0271784', 'tt0271791', 'tt0314349', 'tt0463644', 'tt0485861', 'tt0881930', 'tt3671708']], ('nm0858128', 'nm0611481'): [3, ['tt0237820', 'tt0353766', 'tt6487938']], ('nm0000093', 'nm0000354'): [2, ['tt0240772', 'tt0496806']], ('nm0409204', 'nm0007123'): [5, ['tt0244117', 'tt0271602', 'tt0271739', 'tt0482913', 'tt6774106']], ('nm0482320', 'nm0409204'): [18, ['tt0246674', 'tt0254968', 'tt0255373', 'tt0269699', 'tt0273098', 'tt0277799', 'tt0289893', 'tt0291740', 'tt0291855', 'tt0291890', 'tt0292332', 'tt0490172', 'tt0770203', 'tt1073653', 'tt1217634', 'tt1263795', 'tt2091412', 'tt4553712']], ('nm0007123', 'nm0820208'): [13, ['tt0246831', 'tt0266288', 'tt0269676', 'tt0271369', 'tt0271586', 'tt0271636', 'tt0271665', 'tt0271801', 'tt0852937', 'tt0867404', 'tt1680306', 'tt2265194', 'tt4928620']], ('nm0858128', 'nm0820208'): [2, ['tt0246831', 'tt0292220']], ('nm0007123', 'nm1388202'): [10, ['tt0246943', 'tt0271857', 'tt0356505', 'tt10644282', 'tt1305879', 'tt4472020', 'tt5278634', 'tt6426832', 'tt7582962', 'tt9354674']], ('nm0039596', 'nm0858128'): [3, ['tt0248675', 'tt0291703', 'tt0353192']], ('nm0482320', 'nm0039596'): [4, ['tt0249188', 'tt0274694', 'tt0292057', 'tt0292226']], ('nm0004417', 'nm0304261'): [1, ['tt0249795']], ('nm0007123', 'nm0621937'): [2, ['tt0251690', 'tt3996396']], ('nm0839017', 'nm0784038'): [6, ['tt0252361', 'tt0252597', 'tt0253614', 'tt0253779', 'tt0253828', 'tt0253997']], ('nm0839017', 'nm0015145'): [9, ['tt0252389', 'tt0252487', 'tt0253614', 'tt0253615', 'tt0253670', 'tt0253779', 'tt0929958', 'tt2360018', 'tt2360028']], ('nm0839017', 'nm0654805'): [3, ['tt0252487', 'tt0252488', 'tt0253622']], ('nm0839017', 'nm0015081'): [1, ['tt0252487']], ('nm0654805', 'nm0015145'): [4, ['tt0252487', 'tt0289967', 'tt0487359', 'tt0492369']], ('nm0654805', 'nm0015081'): [1, ['tt0252487']], ('nm0015145', 'nm0015081'): [2, ['tt0252487', 'tt0499291']], ('nm0015145', 'nm0015147'): [2, ['tt0252490', 'tt0309782']], ('nm0015147', 'nm0839017'): [1, ['tt0253614']], ('nm0015147', 'nm0015145'): [2, ['tt0253614', 'tt0267351']], ('nm0015147', 'nm0784038'): [1, ['tt0253614']], ('nm0015145', 'nm0784038'): [2, ['tt0253614', 'tt0466653']], ('nm0784038', 'nm0015145'): [1, ['tt0253779']], ('nm0015081', 'nm0015145'): [7, ['tt0253791', 'tt0267351', 'tt0308015', 'tt0456047', 'tt0487359', 'tt0827748', 'tt2259430']], ('nm0015081', 'nm0654805'): [3, ['tt0253960', 'tt0487359', 'tt0827739']], ('nm0482320', 'nm0611481'): [15, ['tt0254942', 'tt0255013', 'tt0255214', 'tt0255359', 'tt0255422', 'tt0255641', 'tt0255668', 'tt0277774', 'tt0291710', 'tt0400764', 'tt0430710', 'tt1217634', 'tt1891933', 'tt2358424', 'tt3686242']], ('nm0820208', 'nm0611481'): [7, ['tt0254942', 'tt0254962', 'tt0255359', 'tt0255422', 'tt0430710', 'tt1111914', 'tt7594378']], ('nm0820208', 'nm0409204'): [16, ['tt0254962', 'tt0254968', 'tt0255373', 'tt0255452', 'tt0255526', 'tt0258387', 'tt0271801', 'tt0273098', 'tt0289893', 'tt0352732', 'tt0354148', 'tt0355653', 'tt0377643', 'tt0972921', 'tt1111914', 'tt4318204']], ('nm0409204', 'nm0611481'): [11, ['tt0254962', 'tt0271602', 'tt0273785', 'tt0279090', 'tt0320128', 'tt0352185', 'tt0352315', 'tt0352490', 'tt0352498', 'tt0353900', 'tt1111914']], ('nm1388202', 'nm0858128'): [2, ['tt0255295', 'tt0353591']], ('nm0329730', 'nm0611481'): [10, ['tt0255670', 'tt0271663', 'tt0278565', 'tt0291710', 'tt0324112', 'tt0353020', 'tt0353169', 'tt0353237', 'tt12743714', 'tt1443352']], ('nm0304261', 'nm0004417'): [5, ['tt0255827', 'tt0257212', 'tt0258791', 'tt0390476', 'tt1463199']], ('nm0784038', 'nm0654805'): [2, ['tt0263743', 'tt1134817']], ('nm0000138', 'nm0000158'): [1, ['tt0264464']], ('nm0015147', 'nm0015081'): [1, ['tt0267351']], ('nm0858128', 'nm0007123'): [3, ['tt0269194', 'tt0269672', 'tt0271724']], ('nm0858128', 'nm0039596'): [4, ['tt0269672', 'tt0352733', 'tt0355741', 'tt1426317']], ('nm0611481', 'nm0007123'): [1, ['tt0271378']], ('nm0611481', 'nm0858128'): [7, ['tt0271485', 'tt0271570', 'tt0275485', 'tt0352560', 'tt0353753', 'tt0356087', 'tt1114733']], ('nm0695177', 'nm0007123'): [1, ['tt0271563']], ('nm0329730', 'nm0820208'): [2, ['tt0271801', 'tt5346932']], ('nm0329730', 'nm0409204'): [13, ['tt0271801', 'tt0332246', 'tt0352682', 'tt0353187', 'tt0353412', 'tt0353553', 'tt0353775', 'tt0353779', 'tt0353894', 'tt0354067', 'tt0357340', 'tt0928187', 'tt2343599']], ('nm0329730', 'nm0858128'): [8, ['tt0273115', 'tt0277984', 'tt0278663', 'tt0353591', 'tt0355640', 'tt0882759', 'tt1102314', 'tt1426317']], ('nm0619047', 'nm0707425'): [1, ['tt0273760']], ('nm0329730', 'nm0893449'): [6, ['tt0274043', 'tt0353167', 'tt0353237', 'tt0353982', 'tt1102314', 'tt4905732']], ('nm0893449', 'nm0482320'): [4, ['tt0275389', 'tt0291729', 'tt0292042', 'tt0292091']], ('nm0329730', 'nm0621937'): [1, ['tt0276261']], ('nm0611481', 'nm1388202'): [13, ['tt0278501', 'tt0279181', 'tt0353409', 'tt0353410', 'tt0353562', 'tt0353700', 'tt0353753', 'tt0353786', 'tt0353836', 'tt0353909', 'tt0985660', 'tt1332676', 'tt1732659']], ('nm0611481', 'nm0039596'): [6, ['tt0278501', 'tt12833086', 'tt1332676', 'tt1447777', 'tt1732659', 'tt5870990']], ('nm1388202', 'nm0039596'): [6, ['tt0278501', 'tt0353603', 'tt0353739', 'tt0997161', 'tt1332676', 'tt1732659']], ('nm0482320', 'nm0621937'): [1, ['tt0278577']], ('nm0820208', 'nm1388202'): [5, ['tt0278616', 'tt0353843', 'tt0377643', 'tt0972762', 'tt9199374']], ('nm0611481', 'nm0329730'): [2, ['tt0279181', 'tt0356092']], ('nm0329730', 'nm1388202'): [10, ['tt0279181', 'tt0323365', 'tt0353386', 'tt0353412', 'tt0355686', 'tt0400798', 'tt0481053', 'tt0483184', 'tt0896911', 'tt1028558']], ('nm0409204', 'nm0329730'): [2, ['tt0279387', 'tt0354144']], ('nm1111221', 'nm0707425'): [1, ['tt0281099']], ('nm0654805', 'nm0784038'): [3, ['tt0289968', 'tt0765833', 'tt1184943']], ('nm0039596', 'nm0482320'): [1, ['tt0291703']], ('nm0329730', 'nm0482320'): [1, ['tt0291710']], ('nm0482320', 'nm1388202'): [8, ['tt0298514', 'tt0924225', 'tt12361178', 'tt1309592', 'tt1399081', 'tt4881242', 'tt9101540', 'tt9165806']], ('nm0534856', 'nm0695177'): [2, ['tt0312859', 'tt0977636']], ('nm0621937', 'nm0858128'): [1, ['tt0318778']], ('nm0621937', 'nm0707425'): [2, ['tt0319290', 'tt0320718']], ('nm0865392', 'nm0831262'): [1, ['tt0319957']], ('nm0000093', 'nm0089217'): [1, ['tt0332452']], ('nm0893449', 'nm0329730'): [2, ['tt0341323', 'tt0353964']], ('nm0000354', 'nm0000134'): [1, ['tt0343737']], ('nm0039596', 'nm1388202'): [1, ['tt0352460']], ('nm0409204', 'nm0039596'): [3, ['tt0352733', 'tt0353615', 'tt0353739']], ('nm0858128', 'nm1388202'): [8, ['tt0353146', 'tt0353485', 'tt0353753', 'tt0353766', 'tt0377643', 'tt1399081', 'tt1626644', 'tt2218988']], ('nm1388202', 'nm0329730'): [1, ['tt0353591']], ('nm1388202', 'nm0611481'): [2, ['tt0353766', 'tt11800272']], ('nm0893449', 'nm1388202'): [2, ['tt0353859', 'tt0377643']], ('nm0039596', 'nm0329730'): [2, ['tt0353893', 'tt1921019']], ('nm0329730', 'nm0039596'): [3, ['tt0354100', 'tt1426317', 'tt1450764']], ('nm0619047', 'nm0695177'): [2, ['tt0355831', 'tt13086154']], ('nm1388202', 'nm0007123'): [2, ['tt0356774', 'tt1695800']], ('nm0000158', 'nm0000323'): [1, ['tt0361185']], ('nm00001

In [78]:
def getSoloMovies(name1,name2,pairsDict,soloDict):
    name1solomovies = []
    name2solomovies = []
    for movie in soloDict[name1][1]:
        if movie not in pairsDict[(name1,name2)][1]:
            name1solomovies.append(movie)
    for movie in soloDict[name1][1]:
        if movie not in pairsDict[(name1,name2)][1]:
            name2solomovies.append(movie)
    return name1solomovies,name2solomovies
def getRatings(movies):
    ratings = []
    for movie in movies:
        ratings.append(list(df_ratings[df_ratings['tconst']== movie]['averageRating'])[0])
    rating = np.mean(ratings)
    return rating

In [79]:
freq_pairs = dict(sorted(freq_pairs.items(), key=lambda item: item[1],reverse=True))
#('nm0482320', 'nm0007123'): 32,
count = 0
freq_pairsFinal = dict()
for pair in freq_pairs:
    if (pair[1],pair[0]) not in freq_pairsFinal:
        freq_pairsFinal[pair] = freq_pairs[pair]
print(len(freq_pairsFinal))
for pair in freq_pairsFinal:
    print(pair)
    break
print(freqActorsFinal['nm0482320'])
movies1,movies2 = getSoloMovies('nm0482320','nm0893449',freq_pairsFinal,freqActorsFinal)

print(getRatings(movies1))

177
('nm0482320', 'nm0893449')
[11, ['tt0119385', 'tt0133826', 'tt0214585', 'tt0214915', 'tt0237376', 'tt0249188', 'tt0255306', 'tt0282778', 'tt0291855', 'tt0292246', 'tt12361178']]
8.644444444444444

In [15]:
names = pd.read_csv('data/names.tsv',sep = '\t')
titles = pd.read_csv('data/titles.tsv',sep = '\t')

C:\Users\Matt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [62]:
names[names['nconst']=='nm0007123']['primaryName']
#names[names['nconst']=='nm0007123']
#titles[titles['tconst']== 'tt0118655']

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
7096,nm0007123,Mammootty,1951,\N,"actor,producer,music_department","tt1573478,tt0097851,tt0230597,tt0271648"

In [33]:
titles['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'episode'],
      dtype=object)