In [9]:
#Right now we could maybe widdle down to movies above a certain rating + number of ratings

In [10]:
import pandas as pd
import csv
import time
import numpy as np
import itertools

In [2]:

df_ratings = pd.read_csv('data/ratings.tsv',sep = '\t') #read in the ratings data
print(np.mean(df_ratings['numVotes']))
print(np.mean(df_ratings['averageRating']))
avgVotes = np.mean(df_ratings['numVotes'])
df_ratings.head()
qualifiedMovies = []
len(df_ratings)
for row in df_ratings.iterrows():
    if row[1]['averageRating'] >= 8.5 and row[1]['numVotes'] >= avgVotes:
        qualifiedMovies.append(row[1]['tconst'])

955.1516708090234
6.900688579030731

In [3]:
print(len(qualifiedMovies))

7722

In [50]:

#[lambda x: x['tconst'] in qualifiedMovies]

In [5]:
count = 0
freqActors = dict()
for chunk in pd.read_csv('data/principals.tsv' ,sep='\t', chunksize = 1000000, usecols = ['tconst','category','nconst']):
    chunk = chunk[chunk['category']=='actor']
    chunk = chunk.groupby('tconst')
    for name, group in chunk:
        if name not in qualifiedMovies:
            continue
        else:
            actors = group['nconst'].unique()
            for actor in actors:
                if actor in freqActors:
                    freqActors[actor] += 1
                else:
                    freqActors[actor] = 1

5199

In [6]:
freqActorsFinal = dict()
for actor in freqActors:
    if freqActors[actor] >= 5:
        freqActorsFinal[actor] = freqActors[actor]

In [7]:
print(len(freqActorsFinal))

705

In [12]:
freq_pairs = dict()
for chunk in pd.read_csv('data/principals.tsv' ,sep='\t', chunksize = 1000000, usecols = ['tconst','category','nconst']):
    chunk = chunk[chunk['category']=='actor']
    chunk = chunk.groupby('tconst')
    for name, group in chunk:
        freqActorsGroup = [actor for actor in group['nconst'] if actor in freqActorsFinal]
        freqPairsGroup = list(itertools.combinations(freqActorsGroup,2))
        for pair in freqPairsGroup:
            if pair in freq_pairs:
                freq_pairs[pair] += 1
            else:
                freq_pairs[pair] = 1

In [24]:
for pair in freq_pairs:
    if freq_pairs[pair] >= 375:
        print(pair)

('nm0532235', 'nm0001293')

In [29]:
names = pd.read_csv('data/names.tsv',sep = '\t')
titles = pd.read_csv('data/titles.tsv',sep = '\t')

C:\Users\Matt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
names[names['nconst']=='nm0532235']
names[names['nconst']=='nm0001293']
#titles[titles['tconst']== 'tt0118655']

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
1291,nm0001293,Seth Green,1974,\N,"actor,music_department,producer","tt0118655,tt0437745,tt0317740,tt0320244"

In [33]:
titles['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'episode'],
      dtype=object)